

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/images/Background/background (3).jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



h1, h2, h3, h4, h5, h6, label {
    color: silver;
    text-align:center;
}



#btnRegister {
    background-color: silver;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#btnLogin {
    background-color: silver;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}


#btnRegister:hover{
    background-color: grey;
    margin-top: 5px;
}

#btnLogin:hover {
    background-color: grey;
    margin-top: 5px;
    }





.container {
    background-color: silver;
}

.nav-item {
    font-size: 16px;
    background-color: silver;
}

    .nav-item :hover {
        font-size: 17px;
        background-color: grey;
    }

.container-fluid .btn {
    color: black;
    background-color: silver;
}

    .container-fluid .btn:hover {
        color: black;
        background-color: grey;
    }


.stars li {
    display: inline-block;
}


.horizontal-list li {
    display: inline-block;
    color: black;
}

.horizontal-list button {
    background-color: silver;
}





.frmRegister {
    color: silver;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}




footer {
    display: block;
    text-align: center;
    padding: 3px;
    background-color: silver;
    color: black;
}
